/*! CodeSlide slides.vertical.css */
html, body {
  margin: 0;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
  overflow: hidden;
}
p { display: contents; }
pre {
  margin: 0;
  white-space: pre-wrap;
  word-break: break-word;
}
pre > code.hljs {
  backdrop-filter: brightness(1.5);
}
#slides {
  display: flex;
  flex-direction: column;
  position: absolute; /* fix height on mobile */
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.slide {
  padding: 1em;
}
.slide > .title.bordered {
  border-top: thin solid currentColor;
}
.slide > .title {
  font-size: larger;
  font-weight: bolder;
}
@page {
  margin: 0;
  size: auto;
}
@media print {
  #slides {
    width: auto;
    height: auto;
  }
}
