/*! CodeSlide slides.horizontal.css */
html, body {
  margin: 0;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
  overflow: hidden;
  overscroll-behavior: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}
pre {
  margin: 0;
  white-space: pre-wrap;
  word-break: break-word;
}
p:empty {
  display: none;
}
#slides {
  display: flex;
  flex-direction: row;
  position: absolute; /* fix height on mobile */
  width: 100vw;
  height: 100vh;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}
.slide {
  display: flex;
  flex-direction: column;
  min-width: calc(100vw - 4em);
  height: calc(100vh - 2em);
  overflow-y: scroll;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  scrollbar-width: none;
  padding: 1em 2em;
}
.slide::-webkit-scrollbar {
  display: none;
}
@page {
  margin: 0;
  size: auto;
}
@media print {
  #slides {
    width: auto;
    height: auto;
  }
}
