<!DOCTYPE HTML>
<html>
<head>
  <title></title>
  <meta
    name="viewport"
    charset="utf-8"
    content="width=device-width, initial-scale=1, user-scalable=no">
  <style>{= stylesheet|safe =}</style>
  <link
    rel="preconnect"
    href="https://fonts.gstatic.com" crossorigin>
  <link
    rel="preconnect"
    href="https://fonts.googleapis.com" crossorigin>
  <link
    rel="preconnect"
    href="https://cdnjs.cloudflare.com" crossorigin>{^ +^}

{:- for href in stylehrefs :}
  <link
    rel="stylesheet"
    href="{= href|safe =}" crossorigin>
{:- endfor :}
</head>

<body class="hljs">
  <div id="current" class="slide"></div>
  <div id="template" hidden>
    <div id="show">
      <div id="looping">{= show.looping =}</div>
    </div>
    <div id="slides">
      <div id="length">
{:- if show.layout == "slide" -:} {= slides.len() =}
{:- else -:} 1
{:- endif -:}
      </div>
{:- if show.layout == "scroll" :}
      <div id="_0" class="slide">
  {:- for slide in slides :}
        <pre
          class="
            title
            {:- if loop.first :} noborder
            {:- endif :}
          "
        >{^- -^}
          <code class="language-plaintext">
            {=- slide.title -=}
          </code>{^- -^}
        </pre>
        <pre class="content">{^- -^}
          <code class="{= slide.lang_class =}">
            {=- slide.content -=}
          </code>{^- -^}
          <br>{^- -^}
        </pre>
  {:- endfor :}
      </div>
{:- else if show.layout == "slide" :}
  {:- for slide in slides :}
      <div id="_{= loop.index0 =}" class="slide">
        <pre class="title noborder">{^- -^}
          <code class="language-plaintext hljs">
            {=- slide.title -=}
          </code>{^- -^}
        </pre>
        <pre class="content">{^- -^}
          <code class="{= slide.lang_class =}">
            {=- slide.content -=}
          </code>{^- -^}
          <br>{^- -^}
        </pre>
      </div>
  {:- endfor :}
{:- endif :}
    </div>
  </div>
  <script defer="defer">
    <%= compilation.assets[webpackConfig.output.filename].source() %>
  </script>
</body>

</html>