<!DOCTYPE HTML>
<html>
<head>
  <title></title>
  <meta
    name="viewport"
    charset="utf-8"
    content="width=device-width, initial-scale=1, user-scalable=no">
  <link
    rel="preconnect"
    href="https://fonts.gstatic.com" crossorigin>
  <link
    rel="preconnect"
    href="https://fonts.googleapis.com" crossorigin>
  <link
    rel="preconnect"
    href="https://cdnjs.cloudflare.com" crossorigin>

{: for href in link_hrefs :}
  <link rel="stylesheet" href="{= href|safe =}">
{: endfor :}

{= stylesheet|safe =}
</head>

<body>
  <div id="current" class="page hljs"></div>

  <div id="template" hidden>
    <div id="show">
      <div id="looping">{= show.looping =}</div>
    </div>
    <div id="slide">
      <div id="length">{= slide.len() =}</div>
{: for page in slide :}
      <div id="_{= loop.index0 =}" class="page hljs">
        <pre class="title">
          <code class="language-plaintext">{= page.title =}</code>
        </pre>
        <pre class="text">
          <code class="{= page.lang_class =}">{= page.text =}</code>
        </pre>
      </div>
{: endfor :}
    </div>
  </div>

  <script defer="defer">
    <%= compilation.assets[webpackConfig.output.filename].source() %>
  </script>
</body>

</html>