[submodule "packages/codeslide-cli/example/rustlings-as-codeslide-example"]
	path = packages/codeslide-cli/example/rustlings-as-codeslide-example
	url = git@github.com:AsherJingkongChen/rustlings-as-codeslide-example.git
