[submodule "app/cli/examples/rustlings"]
	path = app/cli/examples/rustlings
	url = git@github.com:AsherJingkongChen/rustlings-as-codeslide-example.git
[submodule "app/cli/examples/codeslide-cli"]
	path = app/cli/examples/codeslide-cli
	url = git@github.com:AsherJingkongChen/codeslide-cli-as-codeslide-example.git
