<!DOCTYPE html>
<html>
<head>
  <title>CodeSlide Preview</title>
  <!-- <link
    rel="icon"
    href="./asset/favicon.ico"
    type="image/x-icon"> -->
  <meta
    name="viewport"
    charset="utf-8"
    content="width=device-width, initial-scale=1.0, user-scalable=no">

  <!-- External Fonts -->
  <link
    rel="preconnect"
    href="https://fonts.googleapis.com">
  <link
    rel="preconnect"
    href="https://fonts.gstatic.com" crossorigin>
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100;200;300;400;500;600;700;800;900&display=swap">
</head>

<body>
  <div>[%= content %]</div>
</body>

</html>
